<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <ul class="footer-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/features/">Features</a></li>
          <li><a href="http://demo.ss-shop.org/">Demo</a></li>
          <li><a href="/support/">Support</a></li>
          <li><a href="https://github.com/silvershop/silvershop-core/tree/master/docs/en">Documentation</a></li>
          <li><a href="/download/">Download</a></li>
        </ul>

        <p>© SilverShop 2016</p>
      </div>
    </div>
  </div>
</footer>

<div class="overlay overlay-boxify">
  <nav>
    <ul>
      <li><a href="/features/"><i class="fa fa-shopping-cart"></i>Features</a></li>
      <li><a href="/support/"><i class="fa fa-heart"></i>Support</a></li>
      <li><a href="http://demo.ss-shop.org/"><i class="fa fa-desktop"></i>Demo</a></li>
    </ul>
    <ul>
      <li><a href="https://github.com/silvershop/silvershop-core/tree/master/docs/en"><i class="fa fa-file-o"></i>Documentation</a></li>
      <li><a href="/download/"><i class="fa fa-download"></i>Download</a></li>
    </ul>
  </nav>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/min/toucheffects-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/flickity.pkgd.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/retina.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/min/scripts-min.js"></script>
