<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- open/close -->
<header>
  <section class="hero">
    <div class="texture-overlay"></div>

    <div class="container">
      <div class="row nav-wrapper">
        <div class="col-md-6 col-sm-6 col-xs-6 text-left">
          <a href="/">SilverShop</a>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
          <p id="trigger-overlay">MENU <span class="nav_slide_button nav-toggle" href="#"><span></span></span></p>
        </div>
      </div>

      <div class="row hero-content">
        <div class="col-md-12">
          <h1 class="animated fadeInDown">Open source e-commerce module for SilverStripe&nbsp;Framework</h1>

          <a href="/download" class="use-btn animated fadeInUp">Download</a> <a href="#features" class="learn-btn animated fadeInUp">Learn more <i class="fa fa-arrow-down"></i></a>

          <p class="animated fadeInUp">Latest Release: 2.0.0 (July 7th 2016). <a href="https://github.com/silvershop/silvershop-core/releases/tag/2.0.0">Release Notes</a></p>
        </div>
      </div>
    </div>
  </section>
</header>
